* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}
/* Nav */
.navbar-collapse {
  margin-left: 80px;
  text-align: right;
}

/* Nav ends */
h1,
h2 {
  font-family: "Playfair Display", serif;
  color: #ffc200;
}

h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}
.btn {
  border-radius: 25px;
  width: 35%;
}
/* SLider 1  */
.col-form-label {
  text-align: right;
}
.slid1 {
  background: #000;
}
#Ts {
  font-family: "Playfair Display", serif;
}
.about_growbus {
  min-width: 100%;
  min-height: fit-content;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .Sl1 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .Sl1 {
    text-align: right;

    width: 85%;
  }
}

.Sl1 {
  text-align: right;
}

/* Slider 1 ends */

/* slider 2 */
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .WhyStylo {
    display: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .WhySty {
    display: none;
  }
}

.TWhy {
  color: rgb(0, 0, 0);
}

/* slider 2 end*/

/* slider 3 */
.about_Phonebackground {
  width: 100%;
  height: fit-content;
}
/* slider 3 ends */

/* Slider 4  */

.Slider-3 svg {
  display: block;
}

/* Slider 4 ends */
@media (max-width: 576px) {
  .Logos {
    text-align: center;
  }
  .royalhairs {
    margin-top: 10px;
  }
}
hr {
  color: #ffc200;
  border-radius: 25%;
  width: 15%;
  padding-bottom: 2px;
  margin: auto;
  border-bottom: 10px;
}
.slid {
  background: #000;
}
.Kainchi {
  height: auto;

  margin-left: 5%;
  vertical-align: top;
}

.jawed {
  height: auto;
  margin-top: 16px;
  float: right;
  margin-right: 5%;
}

.royalhairs {
  height: auto;
  margin-top: 70px;
  margin-left: 5%;
}

.rubab {
  width: fit-content;
  height: auto;
  margin-top: 16px;
  float: right;
  margin-right: 2%;
  margin-bottom: 50px;
}

/* footer partner */
.main-footer {
  clear: both;
}
/* footer .main-footer-2 {
  padding: 20px 0;
  background: #aaaaaa;
} */
/* .pfooter ul {
  padding-left: 0;
  list-style: none;
} */

/* Copy Right Footer */
.pfooter-copyright {
  background: #222;
  padding: 5px 0;
}
.pfooter-copyright .logo {
  display: inherit;
}
.pfooter-copyright nav {
  float: right;
  margin-top: 5px;
}
.pfooter-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pfooter-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px;
}
.pfooter-copyright nav ul li a {
  color: #969696;
}
.pfooter-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0;
}
.pfooter-copyright p {
  color: #969696;
  margin: 2px 0 0;
}

/* Footer Top */
.pfooter-top {
  background: #252525;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #222;
}

/* Footer light */
footer.light .footer-top {
  background: #bdbdbd;
}
footer.light .main-footer {
  background: #f9f9f9;
}
footer.light .footer-copyright {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
  display: inline-block;
}

/*==================== 
    Widgets 
  ====================== */
.widget {
  padding: 20px;
  margin-bottom: 40px;
}
.widget.widget-last {
  margin-bottom: 0px;
}
.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.widget.subscribe p {
  margin-bottom: 18px;
}
.widget li a {
  color: #000000;
}
.widget li a:hover {
  color: #ffc200;
}
.thumbnail-widget {
  padding: 0;
  padding-left: 10px;
}
.widget-title {
  margin-bottom: 20px;
}
.widget-title span {
  background: #ffc200 none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 30%;
}
.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
}
.widget-title.text-center span,
.widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.widget .badge {
  float: right;
  background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: rgb(0, 0, 0);
}

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto;
}
ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}
ul.social-footer2 li a:hover {
  background-color: #ffc200;
}
ul.social-footer2 li a {
  display: block;

  height: 30px;
  width: 30px;
  text-align: center;
}

/* footer partner end*/

/* responsive screens */
/* // X-Small devices (portrait phones, less than 576px)
  // No media query for `xs` since this is the default in Bootstrap
  
  // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  ...;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  ...;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ...;
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  ...;
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  ...;
}
